# SearXNG configuration for Sanctum
# https://docs.searxng.org/admin/settings/settings.html

use_default_settings: true

general:
  instance_name: "Sanctum Search"
  privacypolicy_url: false
  donation_url: false
  contact_url: false
  enable_metrics: false

search:
  safe_search: 0
  autocomplete: ""
  formats:
    - html
    - json

server:
  limiter: false
  image_proxy: false
  method: "GET"
  secret_key: "sanctum-searxng-secret-key"

ui:
  static_use_hash: true
  default_theme: simple
  results_on_new_tab: false

# Enabled search engines
engines:
  - name: google
    engine: google
    shortcut: g
    disabled: false

  - name: duckduckgo
    engine: duckduckgo
    shortcut: ddg
    disabled: false

  - name: bing
    engine: bing
    shortcut: b
    disabled: false

  - name: wikipedia
    engine: wikipedia
    shortcut: w
    disabled: false
